@font-face {
    font-family: 'raleway';
    src: url(font/Raleway-VariableFont_wght.ttf) format('truetype');
}

:root {
    --charte: #0065FC;
    --lightCharte: #DEEBFF;
    --grey: #F2F2F2;
}

/* ***********************************
Mise en forme des différrents textes
 *********************************** */
 body{
    all: unset;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

h1 {
    margin: unset;
    font-size: 1.5em;
}

h2 {
    margin-top: 35px;
    margin-left: 30px;
    font-size: 1.5em;
}

.recherche p {
    margin: unset;
}

.filtres p {
    font-weight: bolder;
}

.filtre p {
    padding-right: 10px;
    padding-left: 10px;
}

.information p {
    padding-left: 10px;
}

.hebergement h3 {
    margin: 5px 0 0 16px;
}

.hebergement p {
    margin: 5px 0 0 16px;
}

.populaire h3 {
    margin: 12px 0 0 16px;
}

.populaire p {
    margin: 5px 0 50px 16px;
}

#section3 h2 {
    margin-left: 0;
}

#section3 p {
    font-weight: bold;
    margin-left: 20px;
}

.piedPage h3 {
    margin: 0;
    margin-bottom: 20px;
}

/* ******************************************************************
Mise en place du haut de page, de la zone de recherche et des filtres 
****************************************************************** */

header {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.nav {
    display: flex;
}

.nav-links {
    display: flex;
    width: 300px;
    list-style-type: none;
    justify-content: space-around;
}

.nav-link{
    all: unset;
    display: inline;
}

.nav-link::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: var(--charte);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--charte);
}

.nav-link:hover::before {
    transform: scale(1);
}

.nav-link:visited {
    color: black;
}

.inscrire{
    all: unset;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--charte);
    font-weight: bolder;
    align-self: center;
}

/* ********** Recherche *********** */

.recherche { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

.zoneRecherche {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#marker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: black;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
}

div div input{
    box-sizing: border-box;
    height: 35px;
    border: solid 2px var(--grey);
}

div button {
    height: 35px;
    width: 120px;
    color: white;
    font-weight: bolder;
    background-color: var(--charte);
    border-radius: 0 15px 15px 0;
    border: none;
}

/* **************** FILTRES **************** */
.filtres {
    display: flex;
    width: 750px;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--grey);
    border-radius: 15px;
    box-shadow: black;
}

.filtre i {
    background-color: var(--lightCharte);
    color: var(--charte);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.filtre p:hover {
    color: var(--charte);
}

.information {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.information i {
    border: solid 2px var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    color: var(--charte);
    border-radius: 15px;
}

/* *************************
placement des herbergements 
************************* */
.herbergement-populaire {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 67%;
    min-width: 1050px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: var(--grey);
}

.hebergements {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; */

   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px; 

}

.hebergement {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    border: solid 5px white;
}

.img-hebergement {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.etoiles {
    margin: 5px 0 10px 15px;
    color: var(--charte);
}


.afficherplus {
    font-weight: bolder;
    margin-left: 30px;
    width: 200px;
    padding-bottom: 25px;
}

/* **************************
placement des plus populaires
 ************************** */

 #section2 {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    margin-left: 40px;
    margin-top: 25px;
    border-radius: 15px;
 }

 .populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
 }
 
 .populaire {
    display: flex;
    background-color: white;
    border: solid 5px white;
    border-radius: 15px;
    margin: 0 30px 40px 30px;
    width: 400px;
 }

.titreEtIcone-populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chart-line {
    margin-top: 15px;
    padding-right: 30px;
}

.img-populaire {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.populaire-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.etoiles-pop {
    margin-left: 15px;
    color: var(--charte);
}

/* ********************
Activités à Marseille 
******************** */

#section3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.activites {
    display: flex;
    justify-content: space-between;
}

.activite {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    border: solid 3px var(--grey);
    width: 360px;
    margin-right: 40px;
}

.img-activite {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.bloc-2img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img-1 {
    height: 370px;
}

#img-2 {
    height: 170px;
}

#img-3 {
    height: 100px;
    object-position: 50% 25%;
}

#img-4 {
    height: 370px;
}

#img-5 {
    height: 135px;
    object-position: 50% 20%;
}

#img-6 {
    height: 135px;
    object-position: 50% 40%;
}

#activite-5 {
    margin-right: 0;
}

#activite-6 {
    margin-right: 0;
}

/* *********************************
                Footer
********************************* */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
    background-color: var(--grey);
}

.piedPage {
    margin: 40px 0 40px 40px;
    min-width: 300px;
}