@font-face {
    font-family: 'raleway';
    src: url(font/Raleway-VariableFont_wght.ttf) format('truetype');
}

:root {
    --charte: #0065FC;
    --lightCharte: #DEEBFF;
    --grey: #F2F2F2;
}

html{
    padding-left: 20px;
    padding-right: 20px;
}

body{
    all: unset;
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    
}

.nav {
    display: flex;
}

.nav-links {
    display: flex;
    width: 300px;
    list-style-type: none;
    justify-content: space-around;
}

.nav-link{
    all: unset;
    display: inline;
}

.nav-link::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: var(--charte);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--charte);
}

.nav-link:hover::before {
    transform: scale(1);
}

#inscrire{
    all: unset;
    margin-top: 20px;
    color: var(--charte);
    font-weight: bolder;
    align-self: center;
}

#recherche { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div h1 {
    margin: unset;
    font-size: 1.5em;
}

#recherche p {
    margin: unset;
}

.zoneRecherche {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#marker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: black;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
}

div div input{
    height: 29px;
}

div button {
    height: 35px;
    width: 120px;
    color: white;
    font-weight: bolder;
    background-color: var(--charte);
    border-radius: 0 15px 15px 0;
    border: none;
}

.filtres {
    display: flex;
    width: 650px;
    justify-content: space-around;
}

.filtres p {
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--grey);
    border-radius: 15px;
    box-shadow: black;
}

.filtre i {
    background-color: var(--lightCharte);
    color: var(--charte);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.filtre p {
    padding-right: 10px;
}

.information {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.information i {
    border: solid 1px var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    color: var(--charte);
    border-radius: 15px;
}

